html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    color: #192954;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 500px;
}

.inputBox {
    display: inline-flex;
    width: 100%;
}

::placeholder {
    font-style: italic;
    font-weight: 200;
    color: rgb(255, 228, 169);
}

input {
    width: 75%;
    border: 1px solid #FFCC5C;
    line-height: 200px;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
}

input:focus {
    outline: none;
}

#button {
    width: 25%;
    background-color: #FFCC5C;
    color: #192954;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: default;
}

ul {
    min-height: 400px;
    max-height: 400px;
    border-top: none;
    padding: 0;
    overflow-y: scroll;
}

li {
    padding-left: 10px;
    line-height: 50px;
    vertical-align: middle;
    /* border-bottom: 2px solid #CAA2A3; */
    list-style-type: none;
    width: 100%;
    display: inline-block;
    color: #192954;
    cursor: default;
}

li:nth-of-type(odd) {
    background-color: #FFEEAD;
}

li:nth-of-type(even) {
    background-color:#FFCC5C;
}

.toggleMenu {
    display: inline-flex;
    float: right;
    color: white;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover .toggleMenu {
    opacity: 1;
    width: 140px;
}



.done, .delete, .undone {
    text-align: center;
}

.undone {
    background-color: #9CA4B2;
    width: 70px;
}

.delete {
    background-color: #FF6F69;
    width: 70px;
    float: right !important;
}

.done {
    width: 70px;
    background-color: #87D8B0;
}

.crossText {
    text-decoration: line-through;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* .done {
    float: right;
    background-color: #b5584b;
    color: white;
    width: 70px;
    text-align: center;
    transition: 0.2s linear;
    opacity: 0;
} */